# Logs
logs/
*.log

# Node.js dependencies
node_modules/

# Build output
build/

# Environment variables
.env

# IDE files
.vscode/
.idea/

# Editor/OS specific files
.DS_Store

# Output of testing frameworks
coverage/

# Misc
*.swp
*.swo
*.bak